.footer__column {
  list-style: none;
  margin-top: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.footer__column-link {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.footer__column-heading {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 18px;
  line-height: 30px;
}

.footer__column-links {
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 16px;
}